@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    @apply max-w-screen-xl px-8;
}

.heading-large {
    @apply text-5xl md:text-6xl lg:text-7xl;
}

.heading-medium {
    @apply text-3xl md:text-4xl lg:text-5xl;
}

.button {
    @apply py-2 px-4 rounded-3xl text-sm transition duration-200;
}

.button-primary {
    @apply button bg-black text-white hover:bg-gray-600;
}

.button-secondary{
    @apply button bg-white text-black hover:bg-gray-600;
}

.padding-vertical {
    @apply py-24 md:py-32 lg:py-40;
}

.hero {
    height: 600px;
    min-height: 72vh;
}

.fill-grey {
    fill: #4B5563;
}
